In [ ]:
# Topics
# Lambda functions
# Built-in functions - any and all
# Generator expressions
# Sorted, Reversed
# Min, Max
# Build custom len using oop technique
# Abs(), Sum(), Round()
# Zip

# Note:
# DRY - Dont Repeat Yourself
# WET - Write Everything Twice
# If we overwrite/define a same function twice, the latest one will be considered (similar to variables)

In [ ]:
# This how a normal function is written

def square(num):
    return num * num

# We can write the same in one line too

def square(num): return num * num


# This one line/one expression functions is similar to lambda

lambda num: num * num

# Here left of colon represents parameters and right side is the expression using those parameters
# We can have no parameters or more than one parameters

lambda : num * num
lambda num: num * num
lambda num1, num2: num1 * num2


# Note: The lambda expression automatically returns the value
# No need to explicitly write a return statement
# So the above statement should be assigned a variable

result = lambda : num * num
result = lambda num: num * num
result = lambda num1, num2: num1 * num2

# To call a lamda function, its usually the lambda statement will invoke the function
# Note: we can also call by using the variable name thats been assigned

result()
result(5)
result(5,6)

In [1]:
# Lets see examples for above cases

result1 = lambda : 5 * 7
result2 = lambda num: num * num
result3 = lambda num1, num2: num1 * num2

print(result1())
print(result2(5))
print(result3(5,6))

35
25
30

In [3]:
# Note: lambda functions have no names
# we can see this by displaying the names of a function using func.__name__

def square(num):
    return num * num

result1 = lambda : 5 * 7
result2 = lambda num: num * num
result3 = lambda num1, num2: num1 * num2

print(square.__name__)
print(result1.__name__)
print(result2.__name__)
print(result3.__name__)

# Note: Here even though we can trigger a lambda func by calling result1(7,8)
# result1 is not the name of the lambda function.

square
<lambda>
<lambda>
<lambda>

In [ ]:
# Note: The common use-case for lambda
# Its to pass a function into another function as a parameter
# So that the function will never be used as a function again :)

In [11]:
# Passing lambda into another function
# Note: map
# It accepts 2 parameters - a function and a iterable(list, dict, strings, sets, tuples etc)

# How it works
# It runs lambda for each iterable 
# Returns a map object
# This map object is later converted to another data structure

# eg.

nums = [1,2,3,4,5,6,7,8,9]

doubles = map(lambda x: x+x, nums)
doubles

In [8]:
# Convet map object to list

print(list(doubles))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
# Note: These map are iterable without conversion
# But its iterable only once

for n in doubles:
    print(n)
    
# Here it runs fine

2
4
6
8
10
12
14
16
18

In [13]:
for n in doubles:
    print(n)
    
# Here its not doing anything
# The output of map() can be used only once
# After the usage it will be garbage collected

In [16]:
# Note: Usually map function is always type casted to list

doubles = list(map(lambda x: x+x, nums))
doubles

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
# Upper case using lambda

people = ['tom','harry','dick']
people = list(map(lambda x: x.upper(), people))
people

['TOM', 'HARRY', 'DICK']

In [23]:
# Get First names

names = [
    {'first': 'Manoj', 'last': 'Lingaiah'},
    {'first': 'Neeraj', 'last': 'Lingaiah'},
    {'first': 'Kushaal', 'last': 'Manoj'},
]

fn = list(map(lambda x:x['first'], names))
fn

['Manoj', 'Neeraj', 'Kushaal']

In [33]:
# Decrement every item in a list

decrement_list = list(map(lambda x: x-1, [1,2,3,4,5]))
decrement_list

[0, 1, 2, 3, 4]

In [34]:
# The above function is working but we cannot call decrement_list([0, 1, 2, 3, 4])

decrement_list([0, 1, 2, 3, 4])

TypeError: 'list' object is not callable

In [35]:
# To achieve the above fucntionality

def decrement_list(l):
    return list(map(lambda x: x-1, l))

decrement_list([0, 1, 2, 3, 4])

[-1, 0, 1, 2, 3]

In [36]:
# Note: filter
# Its similar to map, but it returns a filter object
# It contains only the values that return true to lambda

l = [1,2,3,4,5,6,7,8]

evens = filter(lambda x: x%2 == 0, l)
evens

In [37]:
evens = list(filter(lambda x: x%2 ==0, l))
evens

[2, 4, 6, 8]

In [47]:
# Note: Combining map and filter
# return a list where each value of the instructor is < 5 chars
# and print 'Your Instructor is ____'

names = ['Lassie','Colt','Rusty','Bolt']
list(map(lambda x: f'Your instructor is {x}',filter(lambda n: len(n) < 5,names) ))

['Your instructor is Colt', 'Your instructor is Bolt']

In [49]:
# The above eg. can be easily converted to list comprehension

[f'Your instructor is {n}' for n in names if  len(n) < 5]

# But its better to remember, that in many cases map and filters are combined

['Your instructor is Colt', 'Your instructor is Bolt']

In [52]:
# Note: Built-in Functions
# all - this returns True when all elements of the iterable are truthy
# if the iterable is empty it returns True

a = [1,2,3,4,5,6]
b = [1,2,[],4,5,6]
c = [0,0,0]  # This returns False
d = []   # This returns True
e = [1,2,'',4,5,6]
f = [1,2,None,4,5,6]

print(all(a))
print(all(b))
print(all(c))
print(all(d))
print(all(e))
print(all(f))

True
False
False
True
False
False

In [54]:
# any - its similar to all
# returns True if any element  of the iterable is truthy
# if the iterable is empty it returns False

a = [1,2,3,4,5,6]
b = [1,2,[],4,5,6]
c = [0,0,0]  # This returns False
d = []   # This returns True
e = [1,2,'',4,5,6]
f = [1,2,None,4,5,6]

print(any(a))
print(any(b))
print(any(c))
print(any(d))
print(any(e))
print(any(f))

True
True
False
False
True
True

In [55]:
# Note: Generator expressions - Lighter weight version of lists
# Its like a lighter version of list
# we cannot to .append, .insert etc

(i for i in [1,2,3,4,5])

In [58]:
# Usually its used a intermediate step
# In the below example, we just need to whether there is odd number or not
# We dont need a list, we just need to know True or False
# So we can use generator ()

[n%2 != 0 for n in [2,4,6,8,10,11]]

# We dont need the below list

[False, False, False, False, False, True]

In [60]:
# so we can use generator and any method

(n%2 != 0 for n in [2,4,6,8,10,11])

In [61]:
any(n%2 != 0 for n in [2,4,6,8,10,11])

True

In [62]:
# Note: Lets use getsizeof() to see the difference b/w List and Generators

import sys

list_comp = sys.getsizeof([n*10 for n in range(1,100000)])
gen_comp = sys.getsizeof(n*10 for n in range(1,100000))

print(f'List Comprehension = {list_comp} bytes')
print(f'Generator Expression = {gen_comp} bytes')

# Now we can see the order of magnitude size difference b/w them

List Comprehension = 824464 bytes
Generator Expression = 120 bytes

In [73]:
# Note: Sort and Sorted
# sort is exclusive to lists
# sorted can work on any iterable

# sort is inplace
# sorted will not affect the original iterable

a = [3,2,4,6,1,8,7,0]
b = (3,2,4,6,1,8,7,0)

a.sort()   # using List method
print(a)

b.sort()
print(b)

[0, 1, 2, 3, 4, 6, 7, 8]

AttributeError: 'tuple' object has no attribute 'sort'

In [74]:
# Using sorted

a = [3,2,4,6,1,8,7,0]
b = (3,2,4,6,1,8,7,0)

print(sorted(a))  
print(a)    # original is not affected

print(sorted(b))  # can be applied on other iterables
print(b)

[0, 1, 2, 3, 4, 6, 7, 8]
[3, 2, 4, 6, 1, 8, 7, 0]
[0, 1, 2, 3, 4, 6, 7, 8]
(3, 2, 4, 6, 1, 8, 7, 0)

In [79]:
print(sorted(a, reverse=True))  # Descending order
print(sorted(a, reverse=False)) # Default Ascending order

[8, 7, 6, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 6, 7, 8]

In [85]:
# Note: Sort a dictionary
# For this we need specify keys

songs = [
    {'title': 'happy birthday', 'playcount': 1, 'artist': ['tom','dick','harry']},
    {'title': 'survive', 'playcount': 6, 'artist': ['MJ']},
    {'title': 'yMCA', 'playcount': 99, 'artist': []},
    {'title': 'toxic', 'playcount': 31, 'artist': ['britney','masha']},
]

# sort by number of artists
print(sorted(songs, key = lambda x: len(x['artist']), reverse=True))

# sort by title
print(sorted(songs, key = lambda x: x['title']))

# sort by playcount
print(sorted(songs, key = lambda x: x['playcount']))


# Note: using lambda to sort a dictonary is really helpful

[{'title': 'happy birthday', 'playcount': 1, 'artist': ['tom', 'dick', 'harry']}, {'title': 'toxic', 'playcount': 31, 'artist': ['britney', 'masha']}, {'title': 'survive', 'playcount': 6, 'artist': ['MJ']}, {'title': 'yMCA', 'playcount': 99, 'artist': []}]
[{'title': 'happy birthday', 'playcount': 1, 'artist': ['tom', 'dick', 'harry']}, {'title': 'survive', 'playcount': 6, 'artist': ['MJ']}, {'title': 'toxic', 'playcount': 31, 'artist': ['britney', 'masha']}, {'title': 'yMCA', 'playcount': 99, 'artist': []}]
[{'title': 'happy birthday', 'playcount': 1, 'artist': ['tom', 'dick', 'harry']}, {'title': 'survive', 'playcount': 6, 'artist': ['MJ']}, {'title': 'toxic', 'playcount': 31, 'artist': ['britney', 'masha']}, {'title': 'yMCA', 'playcount': 99, 'artist': []}]

In [87]:
# Min and Max
# Note: even we can use 'key' and use lambda to do cool tricks

print(min(1,3,4,5,0))
print(max(1,3,4,5,0))

0
5

In [88]:
names = ['Arya', 'Samson', 'Dora', 'Tim', 'Ollivander']

# find name with shortest length

min(names)  # this returns 'Arya' instead of 'Tim'

'Arya'

In [89]:
# Lets use lambda

names = ['Arya', 'Samson', 'Dora', 'Tim', 'Ollivander']

min(names, key=lambda x: len(x))  # bingo

'Tim'

In [90]:
print(min(songs, key = lambda x: x['playcount']))

{'title': 'happy birthday', 'playcount': 1, 'artist': ['tom', 'dick', 'harry']}

In [92]:
# Note: Now I only want Title of the min playcount

min(songs, key = lambda x: x['playcount'])['title']   # just like pandas

'happy birthday'

In [93]:
max(songs, key = lambda x: x['playcount'])['title']   # just like pandas

'yMCA'

In [ ]:
# Note: revese and reversed() is similar to sort and sorted

In [94]:
# Note: Preview of OOP
# This shows to custom create our own len function

a = [1,2,3,4,5,6,7,8,9,0]
len(a)   # This gives length of object

10

In [97]:
# What if I want len fucntion to give always half of the original length
# To understand this, we need to know how python converts len(a) to dunder statement

# len(a) --> a.__len__

a = [1,2,3,4,5,6,7,8,9,0]
a.__len__

In [96]:
print(a.__len__)   # This is giving some wrapper, its new I dont know anything about it

<method-wrapper '__len__' of list object at 0x0000026C8D6BF508>

In [98]:
a.__len__()   # This is what I wanted to show, so we need to give ()

10

In [101]:
b = {'a':1, 'c':2}

print(len(b))
print(b.__len__())

2
2

In [106]:
# Lets create a class and custom build len function

class SpecialList:
    
    def __init__(self, data):
        self.__data = data
        print(data)
        
    def __len__(self):
        return self.__data.__len__() // 2   # integer division
    
obj1 = SpecialList([1,2,3,4,5,6,7,8])
obj2 = SpecialList([1,5,6,7,8])

print(len(obj1))
print(len(obj2))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 5, 6, 7, 8]
4
2

In [107]:
# abs - gives absolute value of a number

abs(5)

5

In [108]:
abs(-10)   # always return +positive

10

In [109]:
# Note: sum() has a start parameter

sum([1,2,3,4,5])

15

In [113]:
sum([1,2,3,4,5], 10)   # This additional parameter start, tells to start additon using 10

25

In [114]:
sum([1,2,3,4,5], -3)  # -3+1+2+3+4+5

# default is 0

12

In [119]:
# Note: round()  - We can specify precision after decimal point

round(3.141414)

3

In [121]:
round(3.541414)  # >= .5 rounds to next number

4

In [120]:
round(3.641414)

4

In [122]:
round(3.641414,3)   # Note: If the precision is less then it doesnt round it to next number

3.641

In [123]:
round(3.141414,3)

3.141

In [125]:
round(3.64141444444444444444444444444444444444444,15)   

# If precision is more, then at some point it slips to next number

3.641414444444445

In [126]:
# Note: zip
# It can combine 2 or more lists by comibing the pairs of items in that list
# The iterator stops when the shortest input iterable is exhausted
# zip returns tuples, which can be converted to list or dict later

# Note: we can combine into a list
# Or we can combine into a dict

zip([1,2,3,4,5,6], ['a','b','c','d'])

# This returns a zip object

In [127]:
list(zip([1,2,3,4,5,6], ['a','b','c','d']))  # Converts to list

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [128]:
dict(zip([1,2,3,4,5,6], ['a','b','c','d']))  # Converts to dict

# Notice how in both cases it stopped at 'd' the shortest input
# so if we have uneven length, iterator stops as soon as the shortest iterable is exhuasted

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [129]:
# In zip the order matters

list(zip(['a','b','c','d'], [1,2,3,4,5,6]))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [130]:
nums = [1,2,3,4,5,6,7]
letters = ['a','b','c','d','e']
words = ['Hi', 'hello', 'bye', ':)', 'lol']

list(zip(nums, words, letters))

[(1, 'Hi', 'a'),
 (2, 'hello', 'b'),
 (3, 'bye', 'c'),
 (4, ':)', 'd'),
 (5, 'lol', 'e')]

In [131]:
list(zip(words, letters, nums))  # Now the order is changed

[('Hi', 'a', 1),
 ('hello', 'b', 2),
 ('bye', 'c', 3),
 (':)', 'd', 4),
 ('lol', 'e', 5)]

In [132]:
# Note: We can use * operator to unpack into seperate lists

result = list(zip(nums, words, letters))
result

[(1, 'Hi', 'a'),
 (2, 'hello', 'b'),
 (3, 'bye', 'c'),
 (4, ':)', 'd'),
 (5, 'lol', 'e')]

In [134]:
# Lets unpack result into 3 lists

unpacked = zip(*result)
unpacked

In [135]:
list(unpacked)

[(1, 2, 3, 4, 5),
 ('Hi', 'hello', 'bye', ':)', 'lol'),
 ('a', 'b', 'c', 'd', 'e')]

In [142]:
# Note: Note: Find item wise max/min from 2 lists

midterms = [80,91,78]
finals = [98,89,53]
students = ['dan','ang','lis']

list(zip(midterms, finals))

[(80, 98), (91, 89), (78, 53)]

In [146]:
list(map(lambda x: max(x), list(zip(midterms, finals))))

[98, 91, 78]

In [147]:
# lets zip this to student names and create a dict

dict(zip(students, list(map(lambda x: max(x), list(zip(midterms, finals))))))

{'dan': 98, 'ang': 91, 'lis': 78}

In [148]:
# Note: We can clean this by removing unwanted typecast (list)
# Also indent into multiple lines

dict(zip(students, map(lambda x: max(x), zip(midterms, finals))))  # removed list and unwanted braces

{'dan': 98, 'ang': 91, 'lis': 78}

In [150]:
# Indentation

grades = zip(students,
             map(lambda x: max(x),
                 zip(midterms,finals)
                )
            )
dict(grades)

# The above example combines map, lambda, zip, dict, list, meaningful names

{'dan': 98, 'ang': 91, 'lis': 78}

In [155]:
# To get avg grades

grades = zip(students,
             map(lambda x: (x[0] + x[1]) / 2,
                 zip(midterms,finals)
                )
            )
dict(grades)

# it works but 'x' in lambda is not meaningful

{'dan': 89.0, 'ang': 90.0, 'lis': 65.5}

In [156]:
# Now after using meaningful names in lambda, code is clean

grades = zip(students,
             map(lambda pair: (pair[0] + pair[1]) / 2,
                 zip(midterms,finals)
                )
            )
dict(grades)

{'dan': 89.0, 'ang': 90.0, 'lis': 65.5}

In [163]:
# Note: Interleave

# interleave('hi', 'ha')  -  'hhia'
# interleave('aaa', 'zzz')  -  'azazaz'
# interleave('lzr', 'iad')  -  'Lizard'

def interleave(l1, l2):
    return ''.join([''.join(item) for item in list(zip(l1, l2))])
    
print(interleave('hi', 'ha'))
print(interleave('aaa', 'zzz'))
print(interleave('lzr', 'iad'))

hhia
azazaz
lizard

In [158]:
# Breakdown of above steps
# Zip takes first char from each list and combines into a tuple

list(zip('aaa', 'zzz'))

[('a', 'z'), ('a', 'z'), ('a', 'z')]

In [159]:
# this is joined to get desired string in each tuple

[''.join(item) for item in list(zip('aaa', 'zzz'))]

['az', 'az', 'az']

In [160]:
# finally its joined to again to get desired output

''.join([''.join(item) for item in list(zip('aaa', 'zzz'))])

'azazaz'

In [164]:
# again here no need to convert to list

''.join([''.join(item) for item in zip('aaa', 'zzz')])

'azazaz'

In [167]:
# Note: 
# triple_and_filter([1,2,3,4]) # [12]
# triple_and_filter([6,8,10,12]) # [24,36]

def triple_and_filter(collection):
    return [n*3 for n in collection if n%4 == 0]

print(triple_and_filter([1,2,3,4]))
print(triple_and_filter([6,8,10,12]))

[12]
[24, 36]

In [1]:
# Note: Now to code the same using map and filter
def triple_and_filter(lst):
    return list(filter(lambda x: x % 4 == 0, map(lambda x: x*3, lst)))
    
print(triple_and_filter([1,2,3,4]))
print(triple_and_filter([6,8,10,12]))

[12]
[24, 36]

In [3]:
lst = [1,2,3,4]
list(map(lambda x: x*3, lst))

[3, 6, 9, 12]

In [7]:
list(map(lambda x: x % 4 == 0, [3, 6, 9, 12]))

[False, False, False, True]

In [8]:
list(filter(lambda x: x % 4 == 0, [3, 6, 9, 12]))

[12]

In [ ]:
# Note: Extract Full Name
# names = [{'first': 'Elie', 'last': 'Schoppik'}, {'first': 'Colt', 'last': 'Steele'}]
# extract_full_name(names) # ['Elie Schoppik', 'Colt Steele']

def extract_full_name(names):
    return [' '.join(name) for name in [(n['first'],n['last']) for n in names]]   

# This is done using list comprehension and join

In [176]:
# Breakdown of above comprehension

names = [{'first': 'Elie', 'last': 'Schoppik'}, {'first': 'Colt', 'last': 'Steele'}]
[(n['first'],n['last']) for n in names]

[('Elie', 'Schoppik'), ('Colt', 'Steele')]

In [177]:
[' '.join(name) for name in [(n['first'],n['last']) for n in names]]

['Elie Schoppik', 'Colt Steele']

In [179]:
# Using map and lambda

list(map(lambda x: x['first'] +' '+ x['last'], names))

['Elie Schoppik', 'Colt Steele']